<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonFCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37\python.exe|C:\Python37\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
